<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div class="container paper">
      {{ partial "nav.html" . }}
      {{ partial "searchbox.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
        
        {{ if eq .Site.Params.footer true }}
          {{ partial "footer" . }}
        {{ end }}
      </main>
  </div>
  {{ if site.Params.enable_search }}
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
  <script src="/js/search.js"></script>
  {{ end }}
  </body>
</html>